</form>
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="terms">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()">Search</button>
      </span>
        </div>
    </div>
</div>
<div infinite-scroll='searchBook.nextPage()' infinite-scroll-disabled='searchBook.busy' infinite-scroll-distance='5' infinite-scroll-listen-for-event="list:newSearch">
    <div ng-repeat='item in searchBook.items track by $index'>
        <!--Item number {{$index}}: {{item.fields.title}}-->
        <span class='title'>
        <a ng-href='/download/{{item.fields["file.name"][0]}}' target='_blank'>{{item.fields.title[0]}}</a>
        </span>
        <div ng-repeat="content in item.highlight['file.content']">
            <q ng-bind-html="content | to_trusted"></q>
        </div>
        <!--{{item.highlight["file.content"]}}-->
        <div style='clear: both;'></div>
    </div>
    <div ng-show='searchBook.busy' ng-hide='!searchBook.terms'>Loading data...</div>
</div>
